@import '../variables';

.about{
    display: flex;
    background-image: url('../images/png-jpeg/carx-street_2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    height: auto;
    min-height: 50vh;
    width: 100%;
    margin: 2rem 0;

    .about-container{
        background-color: rgba(0, 0, 0, 0.725);
        width: 100%;
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        h2{
            font-size: 2rem;
            font-weight: 700;
        }
        
        a{
            border: 2px solid var(--color-primary);
            border-radius: 4px;
            padding: .5rem 1rem;
            font-weight: bold;
            display: flex;
            align-items: center;
            gap: .6rem;
            &:hover{
                background-color: rgba(68, 0, 214, 0.307);
                span{
                    transition: .4s;
                    transform: translateX(6px);
                }
            }
        }
    }
}

@media (max-width:820px){
    .about-container{
        flex-direction: column;
    }
}