

:root{
    --color-primary: rgba(68, 0, 214, 1);
    --bg-color: rgba(3, 1, 16, 1);
    --bg-btn_submit: rgba(92, 0, 135, 1);
}

.text-gradient_title{
    background: linear-gradient(360deg, #0057FF 10.43%, rgba(159, 3, 255, 0.83) 70.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.emphases-text{
    color: var(--color-primary);
}

